<!DOCTYPE html>
<html>
  <head>
    <title>Disaccord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8"> 
    <meta name="description" content="Disaccord App" />
    <meta name="title" property="og:title" content="Disaccord" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://raw.githubusercontent.com/cfo8473/Disaccord/master/readme.png" />
    <meta name="description" property="og:description" content="Disaccord" />
    <meta name="author" content="Chris Fong" />
   

  </head>

  <body>
    <%= yield %>
  </body>
</html>
